#surgeries {
background:url('../../images/kindajean.png') repeat;
height:1500px;
border-top:1px solid #555;
}
#surgeries .top_shadow {
height: 20px;
margin-top: -20px;
-webkit-box-shadow:0 17px 48px -8px #555;
-moz-box-shadow: 0 17px 48px -8px #555;
box-shadow: 0 17px 48px -8px #555;
}
.surgeries_container{
width:960px;
margin:0 auto;	
}
#surgeries .knee {
margin-top:100px;
height: 450px;
}
#surgeries .knee_bio,.spine_bio, .shoulder_bio {
float:left;
width:384px;
}
#surgeries .knee_bio, .spine_bio, .shoulder_bio p{
line-height:1.45;
}
#surgeries .knee_bio .knee_title, .shoulder_title {
height:55px;
width:238px;
background-color: #1d4563; /* layer fill content */
border-left:10px solid #27c9fd; 
text-align:center;
line-height:1.7;
color:white;
}
#surgeries .knee_image, .spine_image, .shoulder_image {
float:right;
height:379px;
width:379px;
border: 1px solid #3f87a0; /* stroke */
-moz-border-radius: 190px / 189px;
-webkit-border-radius: 190px / 189px;
border-radius: 190px / 189px; /* border radius */
-moz-background-clip: padding;
-webkit-background-clip: padding-box;
background-clip: padding-box; /* prevents bg color from leaking outside the border */
background-color: #27c8fd; /* layer fill content */
-moz-box-shadow: 0 1px 0 rgba(0,0,0,.29), inset 0 1px 62px #085671; /* drop shadow and inner shadow */
-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.29), inset 0 1px 62px #085671; /* drop shadow and inner shadow */
box-shadow: 0 1px 0 rgba(0,0,0,.29), inset 0 1px 62px #085671; /* drop shadow and inner shadow */
}
#surgeries .knee_image img {
margin-top: 56px;
margin-left: 53px;
}
#surgeries .spine_image img {
margin-top: 40px;
margin-left: 30px;
}
#surgeries .shoulder_image img {
margin-top: 60px;
margin-left: 70px;
}
#surgeries .spine {
height:450px;
}
#surgeries .spine_image {
float:left;
}
#surgeries .spine_bio {
float:right;

}
#surgeries .spine_title {
border-right:10px solid #27c9fd;
height:55px;
width:238px;
background-color: #1d4563; /* layer fill content */ 
text-align:center;
line-height:1.7;
color:white;
}

#surgeries .shoulder_bio {
float:left;
}












