<template name="contact">
	<div id="contact_wrap">
		<div id="page-wrap">
			<p class="charles">Contact Dr. Charles B. Goodwin</p>
			<h2 class="contact_tag">We appreciate your interest in learning more about Dr. Charles Goodwin and his staff for your orthopedic care. We are dedicated to providing the highest-quality care with compassion and trust. We provide a comprehensive evaluation with prompt and efficient assessment and treatment.</h2>
			<div id="address">
				<div class="big_map">
					<iframe width="300" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?hl=en&amp;q=635+madison+ave+new+york,+ny+10022&amp;ie=UTF8&amp;hq=&amp;hnear=635+Madison+Ave,+New+York,+10022&amp;ll=40.763786,-73.970877&amp;spn=0.022363,0.048795&amp;t=m&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?hl=en&amp;q=635+madison+ave+new+york,+ny+10022&amp;ie=UTF8&amp;hq=&amp;hnear=635+Madison+Ave,+New+York,+10022&amp;ll=40.763786,-73.970877&amp;spn=0.022363,0.048795&amp;t=m&amp;z=14&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
				</div>
				<div class="directions">
					<p style="color:black;">New York Office:</p>
					<p>635 Madison Ave.</p>
					<p>New York, NY 10022</p>	
				</div>
				<div id="locust" class="directions">
					<p style="color:black;">Locust Valley Office:</p>
					<p>146 Birch Hill Road</p>
					<p>Locust Valley, NY 11560</p>	
				</div>
				<div id="mass" class="directions">
					<p style="color:black;">Massapequa Office:</p>
					<p>4160 Merrick Road</p>
					<p>Massapequa, NY 11758</p>	
				</div>
			
			</div>
			<div id="contact-area">
				<form id="contact_form">
					<div class="field_input">
						<label for="Name">Name:</label>
						<input type="text" name="Name" id="contact_name" />
					</div>
					<div class="field_input">	
						<label for="Email">Email:</label>
						<input type="text" name="Email" id="contact_email" />
					</div>
					<div style="clear: both;"></div>
					<div class="area_input">
						<label for="Message">Message:</label><br />
						<textarea name="Message" rows="7" cols="42" id="contact_message"></textarea>
					</div>
					<div style="clear: both;"></div>
						<input type="submit" name="submit" value="SUBMIT" class="submit-button" />
				</form>
			</div>
		</div>
	</div>
</template>