<template name="credits">
	<div id="credits">
		<div class="header_one">
			<div class="headline">
				<img src="../../images/confidential.png" width="128" height="130" alt="Confidential">
				<h1>Board Certified</h1>
			</div>
			<h2>Hospital for Special Surgery</h2>
			<p>Dr. Charles Goodwin specializes in sports medicine of the knee and shoulder. He has been an orthopaedic surgeon for The New York Mets, The New York Knicks, The US Tennis Asssociation, The US Open Golf, The New York City Ballet and the American Ballet Theatre. <a href="/"> Learn More.</a></p>
		</div>
		<div class="header_two">
			<div class="headline">
				<img src="../../images/charles2.png" width="101" height="136" alt="Charles2" style="margin-top:-13px">
				<h1 style="line-height:1.7">About Me</h1>
			</div>
			<h2>Dr. Charles B. Goodwin</h2>
			<div class="stats">
				<h3>The Best Doctors in New York</h3>
				<p>- New York Magazine</p>
				<h3>New York State Medical Society</h3>
				<p>- Chairman of the Professional Liability & Defense Board (former)
				</p>
				<h3>Hospital for Special Surgery-Ranked #1 for Orthopedics</h3>
				<p>- New York Magazine</p>
			</div>
		</div>
		<div class="header_three">
			<div class="headline">
				<img src="../../images/envelope.png" width="128" height="130" alt="Confidential">
				<h1>My Credentials</h1>
			</div>
			<h2>Orthopedic Surgeon</h2>
			<p>Charles Goodwin, M.D. specializes in the diagnosis of diseases of the cervical and lumbar spine, recommending conservative treatment when possible. If conservative treatment fails, he performs, when indicated, adult reconstructive cervical and lumbar spine surgery, stressing minimally invasive techniques, such as microsurgery and endoscopic fusions.<a href="/"> Learn More.</a></p>
		</div>
		<div style="clear:both"></div>
	</div>
</template>