<template name="credits">
	<div id="credits_wrap">
		<div id="credits">
			<div class="header_one">
				<div class="headline">
					<h1>Board Certified</h1>
				</div>
				
				<p>Dr. Charles Goodwin specializes in sports medicine of the knee and shoulder. He has been an orthopaedic surgeon for The New York Mets, The New York Knicks, The US Tennis Asssociation, The US Open Golf, The New York City Ballet and the American Ballet Theatre. <a href="/"> Learn More.</a></p>
			</div>
			<div class="header_two">
				<div class="headline1">
					<h1>My Credentials</h1>
				</div>
				
				<p>Charles Goodwin, M.D. specializes in the diagnosis of diseases of the cervical and lumbar spine, recommending conservative treatment when possible. If conservative treatment fails, he performs, when indicated, adult reconstructive cervical and lumbar spine surgery, stressing minimally invasive techniques, such as microsurgery and endoscopic fusions.<a href="/"> Learn More.</a></p>
			</div>
			<div class="header_three">
				<div class="headlineDoc">
				
				</div>
			
				<div class="stats">
					<h3>The Best Doctors in New York</h3>
					<p>- New York Magazine</p>
					<h3>New York State Medical Society</h3>
					<p>- Chairman of the Professional Liability & Defense Board (former)
					</p>
					<h3>Hospital for Special Surgery-Ranked #1 for Orthopedics</h3>
					<p>- New York Magazine</p>
				</div>
			</div>
			<div style="clear:both"></div>
			<div class="links">
				<ul>
					<li><a href="http://www.hss.edu/" target="_blank"><img src="../../images/Layer17-1.png" width="49" height="49" alt="Layer17 1"></a></li>
					<li><a href="http://www.newyorkphysicians.com/" target="_blank"><img src="../../images/Layer18.png" width="47" height="46" alt="Layer18"></a></li>
					<li><a href="http://www.iosmpc.com/" target="_blank"><img src="../../images/111.png" width="37" height="46" alt="111"></a></li>
					<li><a href="http://www.northshorelij.com/" target="_blank"><img src="../../images/Layer20.png" width="97" height="44" alt="Layer20"></a></li>
					<li><a href="www.orthopedicspecialists.com" target="_blank"><img src="../../images/O.png" width="40" height="42" alt="O"></a></li>
					<li><a href="www.nyp.org" target="_blank"><img src="../../images/Group1.png" width="105" height="50" alt="Group1"></a></li>
				</ul>
			</div>
		</div>
	</div>
</template>