<template name="footer">
	<div id="footer">
		<div class="footer_container">
			<div class="logo">
				<img src="../../images/logo.png" width="222" height="43" alt="Logo">
			</div>
			<div class="footer_contact">
				<div class="bullet_point"></div><a href="/">Contact</a>
			</div>
			<div class="footer_links">
				<div class="block"></div>
				<ul>
					<li><a href="/">New York Physicians</a></li>
					<li><a href="/">Hospital For Special Surgery</a></li>
					<li><a href="/">Orthopedic Specialists of New York</a></li>
					<li><a href="/">New York-Presbyterian Hospital</a></li>
				</ul>
			</div>
			<div class="copyright"><h3>Copyright © 2008. Charles Goodwin. Phone: 212-857-4600 | Fax: 212-759-1685</h3></div>
		</div>
	</div>
</template>