<template name="header">
	<div id="header">
		<div id="headerInner">
			<div class="logo">
				<img src="../../images/logo.png" width="222" height="43" alt="Logo">
			</div>
			<div class="nav">
				<div class="pages">
					<a style="margin-right:20px">About</a>
					<a class="active">Contact</a>
				</div>
				<div class="nav_button"><h2>Surgical Procedures</h2></div>
			</div>
			<div style="clear:both"></div>
		</div>
		<div class="top_groove"></div>
		<div class="bottom_groove"></div>
	</div>
</template>