<template name="header">
	<div id="header">
		<div id="headerInner">
			
			<div class="logo">
				<a href="/"><img src="../../images/small_logo.png" alt="Logo"></a>
			</div>
			
			
			<div class="nav">
				<div class="pages">
					<ul id="nav">
						<li class="about {{active_about}}"><a href="/">Home</a></li>
						<li class="contact {{active_contact}}"><a class="active" href="/contact">Contact</a></li>
					</ul>
				</div>
				
				<a class="nav_button" style="text-decoration:none;" href="/resume"><h2>Surgical Procedures</h2></a>
			</div
			
			
			<div style="clear:both"></div>
			
			<div class="grooves">
				<div class="top_groove"></div>
			    <div class="bottom_groove"></div>
			</div>
			
		</div>
</template>