<template name="header">
	<div id="header">
		<div id="headerInner">
			
			<div class="logo">
				<a href="/"><img src="/images/small_logo.png" alt="Logo"></a>
			</div>
			
			
			<div class="nav">
				<div class="pages">
					<ul id="nav">
						<li class="about {{active_about}}"><a href="/">Home</a></li>
						<li class="contact {{active_contact}}"><a class="active" href="/contact">Contact</a></li>
					</ul>
				</div>
				
				{{#constant}}
					<a class="nav_button" style="text-decoration:none;" href="#"><h2>Surgical Procedures</h2></a>
				{{/constant}}
				<div class="dropdown" style="display:none;">
					<ul class="drop_inner">
						<li class="one"><a href="/spine">Spine</a></li>
						<li class="two"><a href="/sports-medicine#knee">Knee</a></li>
						<li class="three"><a href="/sports-medicine#shoulder">Shoulder</a></li>
						<li class="four"><a href="/about">About Dr. Goodwin</a></li>
					</ul>
				</div>
			</div
			
			
			<div style="clear:both"></div>
			
			<div class="grooves">
				<div class="top_groove"></div>
			    <div class="bottom_groove"></div>
			</div>
			
		</div>
</template>