<template name="knee">
	<div class="section_wrap" id="knee">
		
		<div class="section">
			
			<div class="image">
				<img src="../../images/spine.png" width="300" height="200" alt="Spine">
			</div>
			
			<div class="bio">
				<h1>Knee Surgery</h1>
				<p>Dr. Charles Goodwin specializes in sports medicine of the knee and shoulder. He has been an orthopaedic surgeon for:
					<br /> 

<ul>
<li><a href="http://newyork.mets.mlb.com/index.jsp?c_id=nym" title="Baseball Sports Medicine" target="_blank">The New York Mets</a></li>
<li><a href="http://www.nba.com/knicks/" title="Basketball Sports Medicine" target="_blank">The New York Knicks</a></li>
<li><a href="http://www.usta.com/" title="Tennis Sports Medicine" target="_blank">The US Tennis Asssociation</a></li>
<li><a href="http://www.usopen.com/en_US/index.html" title="Golf Sports Medicine" target="_blank">The US Open Golf</a></li>
<li><a href="http://www.nycballet.com/nycb/home/" title="New York City Ballet Sports Medicine" target="_blank">The New York City Ballet</a></li>
<li><a href="http://www.abt.org/" title="Doctor for the American Ballet Theatre" target="_blank">American Ballet Theatre</a></li>	
</ul>			

		
				</p>
			</div>
			
			<div style="clear:both;"></div>
		</div>
	</div>
</template>