<head>
	<title>Dr.Charles B. Goodwin</title>
	
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
	
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>


<body>	
	<div id="container">
		{{>header}}
		{{renderPage}}
		{{>footer}}
	</div>
</body>

<template name="page_home">
	{{>slider}}
	{{>credits}}
	{{>surgeries}}
</template>

<template name="page_contact">
	{{>contact}}
</template>

<template name="page_about">
	{{>about}}
</template>


<template name="page_sports-medicine">
	{{>sports_medicine}}
</template>


<template name="page_spine">
	{{>spine}}
</template>

