<template name="slider">
	<div id="gradient">
		<div class="slider_container">
			<div class="tagline">
				<h1>Orthopedic surgeon at the Hospital for Special Surgery,
			                     ranked #1 in the United States for Orthopedic Care.</h1>
			</div>
			
			<div class="slider_images">
				<div class="left_blur"></div>
				<ul id="slider1">
					<li><img src="../../images/hospital.png" width="960" height="255" alt="Hospital"></li>
					<li><img src="../../images/surg1.png" width="780" height="351" alt="Surg1"></li>
					<li><img src="../../images/x_ray.png" width="876" height="243" alt="X Ray"></li>
				</ul>
			</div>
				<div class="right_blur"></div>
			<div class="more"><h1>Find Out More</h1></div>
		</div>
	</div>
</template>      