<template name="slider">
	<div id="gradient">
		<div class="slider_container">
			<div class="tagline">
				<h1>Orthopedic Surgeon at the Hospital for Special Surgery,
			                     Ranked #1 in the United States for Orthopedic Care.</h1>
			</div>
			
			<div class="slider_images">		
				<img src="../../images/hospital.png" width="960" height="255" alt="Hospital">
			</div>
	
			
			<a class="more" style="left:295px;text-decoration:none;" href="/sports-medicine"><h1>Sports Medicine</h1></a>
			<a class="more" style="left:545px;text-decoration:none;" href="/spine"><h1>Spinal Surgery</h1></a>
			

		</div>
	</div>
</template>      