<template name="spine">
	<div id="about_wrap">
		<div id="about_container">
			

			
			<div class="section_two_wrap">
				<div class="section_two" style="padding-bottom: 20px;">
					<div class="bio_two">
						<h1>Spinal Surgery</h1>
						<p style="font-size:20px;">Charles Goodwin, M.D. specializes in the diagnosis of diseases of the cervical and lumbar spine, recommending conservative treatment when possible. If conservative treatment fails, he performs, when indicated, adult reconstructive cervical and lumbar spine surgery, stressing minimally invasive techniques, such as microsurgery and endoscopic fusions.</p>
						
						<!--
						<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0" width="780" height="573">
							<param name="width" value="780">
							<param name="height" value="573">
							<param name="quality" value="high">
							<param name="src" value="http://www.swarminteractive.com/subscriptions/viewer.swf?client=1730">
							<embed type="application/x-shockwave-flash" width="780" height="573" quality="high" src="http://www.swarminteractive.com/subscriptions/viewer.swf?client=1730">
						</object>
						-->
						
					</div>
					<div class="image_two">
						<img src="../../images/knee_surg.png" width="300" height="200" alt="Spine">
					</div>
					
					<div style="clear:both"></div>
					
				</div>
			</div>
		</div>
	</div>
</template>