<template name="surgeries">
	<div id="surgeries">
		<div class="top_shadow"></div>
		<div class="surgeries_container">
			<div class="knee">
				<div class="knee_bio">
					<div class="knee_title"><h1>Knee</h1></div>
					<p>Dr. Charles Goodwin specializes in sports medicine of the knee and shoulder. He has been an orthopaedic surgeon for The New York Mets, The New York Knicks, The US Tennis Asssociation, The US Open Golf, The New York City Ballet and the American Ballet Theatre. <a href="/"> Learn More.</a></p>
				</div>
			
			</div>
			<div class="spine">
				
				<div class="spine_bio">
					<div class="spine_title"><h1>Spine</h1></div>
					<p>In the diagnosis of diseases of the cervical and lumbar spine, Dr. Charles Goodwin, recommends conservative treatment when possible. If conservative treatment fails, he performs, when indicated, adult reconstructive cervical and lumbar spine surgery, stressing minimally invasive techniques, such as microsurgery and endoscopic fusions.<a href="/"> Learn More.</a></p>
				</div>
			</div>
			<div class="shoulder">
				<div class="shoulder_bio">
					<div class="shoulder_title"><h1>Shoulder</h1></div>
					<p>Arthoscopic rotator cuff repair. This surgical procedure is used to inspect and
					reattach torn tendons in the shoulder's rotator
					cuff. The initial part of the surgery is performed
					arthroscopically through small tubes. In some
					cases, open surgery may be needed to repair
					large tears. <a href="/"> Learn More.</a></p>
				</div>
			
		</div>
	</div>
</template>